RTv1
frameworks/
sdl_include/
*.swp
MF_SRC
obj/
.DS_Store
dep/
.vscode/
.jh/
*.o
Makefilejh
jh_gitignore
hello_world.bmp
build/
libsdl2_old/
libsdl2/build/
libsdl2/gen/
libsdl2/Makefile
libsdl2/Makefile.rules
libsdl2/config.log
libsdl2/config.status
libsdl2/include/SDL_config.h
libsdl2/libtool
libsdl2/sdl2-config
libsdl2/sdl2-config-version.cmake
libsdl2/sdl2-config.cmake
libsdl2/sdl2.pc
libsdl2_net/.deps/
libsdl2_net/.libs/
libsdl2_net/Makefile
libsdl2_net/SDL2_net.pc
libsdl2_net/SDLnet.lo
libsdl2_net/SDLnet.o
libsdl2_net/SDLnetTCP.lo
libsdl2_net/SDLnetTCP.o
libsdl2_net/SDLnetUDP.lo
libsdl2_net/SDLnetUDP.o
libsdl2_net/SDLnetselect.lo
libsdl2_net/SDLnetselect.o
libsdl2_net/config.log
libsdl2_net/config.status
libsdl2_net/libSDL2_net.la
libsdl2_net/libtool
libsdl2_net/showinterfaces
libsdl2_net/showinterfaces.o
libsdl2/include/SDL_revision.h
libft/libft.a
